[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
    branch = master
    ignore = dirty
[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
    branch = master
[submodule "solarized"]
	path = solarized
	url = git://github.com/altercation/solarized.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/bundle/nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdtree-git-plugin"]
    path = vim/bundle/nerdtree-git-plugin
    url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/bundle/vim-wakatime"]
	path = vim/bundle/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime
