Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm@openssh.com,aes256-gcm@openssh.com,chacha20-poly1305@openssh.com

Host shit-old
    HostName 192.168.1.50
    Port 2222
    User admin
    ForwardAgent yes

Host shit shit2 sh2 sh2.jhauschildt.com
    Hostname 192.168.1.60
    User doot
    Port 2222
    ForwardAgent yes

Host do-dev1
    HostName do-dev1.jhauschildt.com
    Port 22
    User doot
    ForwardAgent yes

Host shitfucker sf
    Hostname 192.168.1.53
    User doot
    Port 22
    ForwardAgent yes

Host udm
    HostName 192.168.1.1
    User root
    ForwardAgent yes

Host media-docker md
    Hostname md.jhauschildt.com
    User doot
    ProxyJump nsf
    ForwardAgent yes

Host deck
    HostName 192.168.1.63
    ForwardAgent yes
    User deck

Host nix-media-docker nmd nmd.jhauschildt.com
    HostName 192.168.1.88
    User doot
    ForwardAgent yes

Host nsf nix-shitfucker nsf.jhauschildt.com
    HostName 192.168.1.110
    User doot
    ForwardAgent yes
    Port 22

Host pve pve.jhauschildt.com
    HostName pve.jhauschildt.com
    User root
    ForwardAgent yes
    Port 22

Host slop nix-slopfucker slop.jhauschildt.com
  HostName slop.jhauschildt.com
  User doot
  ForwardAgent yes
  Port 22

Host github.com
    AddKeysToAgent yes
    # UseKeychain yes
    IdentityFile ~/.ssh/id_github

# Force all hosts on the local network to use bitwarden ssh-agent
# Host 192.168.1.* *.jhauschildt.com
#    IdentityAgent ~/.bitwarden-ssh-agent.sock
