"*":
  "atom-beautify":
    analytics: false
    beautifyEntireFileOnSave: false
  "atom-ternjs":
    useSnippets: true
  atomatigit: {}
  core:
    audioBeep: false
    disabledPackages: [
      "git-plus"
    ]
    openEmptyEditorOnStart: false
    projectHome: "~/projects"
    themes: [
      "nucleus-dark-ui"
      "batman-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "bce0a17e-0c1a-7b9a-3b80-b30140ccd0e7"
  "git-plus": {}
  linter:
    showErrorPanel: false
  "linter-bootlint": {}
  "linter-flint":
    colorOutput: true
    executablePath: "~/.bin/flint"
  "linter-htmlhint": {}
  "linter-jscs": {}
  "linter-liferay": {}
  "linter-perl": {}
  "linter-perlcritic":
    executablePath: "/usr/local/bin/perlcritic"
  "linter-pylint": {}
  "linter-scspell": {}
  "linter-shellcheck": {}
  "linter-tidy":
    tidyExecutablePath: "/usr/local/bin/tidy"
  "linter-write-good": {}
  "merge-conflicts": {}
  minimap:
    absoluteMode: true
    plugins:
      linter: true
    scrollAnimation: true
  "preview-plus": {}
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
