"*":
  "atom-beautify":
    analytics: false
    beautifyEntireFileOnSave: false
  "atom-ternjs":
    useSnippets: true
  atomatigit: {}
  core:
    audioBeep: false
    disabledPackages: [
      "git-plus"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".unison"
      "CVS"
      ".AppleDouble"
      ".LSOverride"
      ".Spotlight-V100"
      ".Trashes"
      "desktop.ini"
      "*.lock"
      "*.sock"
      "*.pid"
      "*.sw?"
      ".unison*"
      "*~"
    ]
    openEmptyEditorOnStart: false
    projectHome: "~/projects"
    themes: [
      "nucleus-dark-ui"
      "batman-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "bce0a17e-0c1a-7b9a-3b80-b30140ccd0e7"
  "git-plus": {}
  linter:
    showErrorPanel: false
  "linter-bootlint": {}
  "linter-flint":
    colorOutput: true
    executablePath: "~/.bin/flint"
  "linter-htmlhint": {}
  "linter-jscs": {}
  "linter-liferay": {}
  "linter-perl": {}
  "linter-perlcritic":
    executablePath: "/usr/local/bin/perlcritic"
  "linter-pylint": {}
  "linter-scspell": {}
  "linter-shellcheck": {}
  "linter-tidy":
    tidyExecutablePath: "/usr/local/bin/tidy"
  "linter-write-good": {}
  "merge-conflicts": {}
  minimap:
    absoluteMode: true
    plugins:
      linter: true
      linterDecorationsZIndex: 0
    scrollAnimation: true
  nitrogen:
    showWelcomeOnStartup: false
  "preview-plus": {}
  "sync-settings":
    _analyticsUserId: "d8824353-7dac-443c-a64f-b8528982477c"
    _lastBackupHash: "1e7d639056132f8603906b359602fd7388ddb09c"
    analytics: false
    gistDescription: "atom-sync-settings"
    gistId: "3e597d128d78da67382a155b39ed4905"
    personalAccessToken: "a814b96f2db503864e85dd985b9917f2137aca0a"
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
